* {
    margin: 0;
    padding: 0;
  }

:root {
  --verde-fundo: ;
  --fonte-principal: "Lustria";
  --verde-principal: ;
  --azul-principal: ;
  --verde-secundario: ;
  --link: #0a4804;
}

body{
background-color: rgb(196, 238, 196);
}

  h1{
    color: rgb(255, 239, 239);
  }

  /*Cabeçalho / Header */
.cabecalho{

}


/*seções comuns ou seção 1*/
.secao1{

}


/*rodapé*/
.rodape{

}